/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* code taken from http://codepen.io/mildrenben/pen/JoBdGZ
 * i couldn't find any license, so if there's one, i'll glad to add here or
 * do whatever i have to
 */

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 1rem;
    font-weight: 500;
}

h2 {
    font-size: 1.4rem;
}

.flex, .box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.box {
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

% for c in colors:
.${c.get('class_name')} {
    background: ${c.get('value')};
}
% endfor
